@model WebApplication1.ViewModel.DockerImagesNameViewModel

@{
    ViewBag.Title = "UserGetImagesIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <table width="840px" height="100%" align="center" valign="top" cellpadding="20px" style="background-color:white;border-left:1px solid #DDD;border-right:1px solid #DDD;">
        <tbody>
            <tr>
                <td valign="top" style="padding-top:100px">
                    <table width="100%" align="center" valign="top">
                        <tbody>

                            <h3>we will open  the  services in new tab clik on link please</h3>
                            <dev class="center-block">
                                <dev style="font-family:Arial">
                                    <dev class="display">
                                        <a href="@Model.label_name" target="_blank">start</a>


                                    </dev>
                                </dev>
                            </dev>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>