@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="content">
    <table width="840px" height="100%" align="center" valign="top" cellpadding="20px" style="background-color:white;border-left:1px solid #DDD;border-right:1px solid #DDD;">
        <tbody>
            <tr>
                <td valign="top" style="padding-top:100px">
                    <p>The AssuitvolBrain pipeline has been developed by Dr Mostafa Abubaker (Assuit  Université ) , Ali ,omar, Abdo gamal,Abduall ,adnan</p>
                    <p>Website design by Abdo Gamal</p>
                    <p>
                        We want to thank for their help:

                    </p>

                    <p>
                        We want to thank for their helpJussi Tohka
                    </p>

                    <p>
                        Louis Collins
                    </p>

                    <p>
                        Vladimir Fonov
                    </p>

                    <p>
                        Montserrat Robles
                    </p>

</tr>
        </tbody>
    </table>
</div>

