@{
    ViewBag.Title = "Contact";
}
<div class="content">
    <table width="840px" height="100%" align="center" valign="top" cellpadding="20px" style="background-color:white;border-left:1px solid #DDD;border-right:1px solid #DDD;">
        <tbody>
            <tr>
                <td valign="top" style="padding-top:100px">

                    <address>
                       
                        Assuit, WA <br />
                        <abbr title="Phone">P:</abbr>
                        01063310906
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:bgmal917@example.com">bgmal917@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:aelgedawy444@example.com">aelgedawy444@example.com</a>
                    </address>
</tr>
        </tbody>
    </table>
</div>
